[Desktop Entry]
Name=Slack(X11)
StartupWMClass=Slack
Comment=Slack Desktop
GenericName=Slack Client for Linux
Exec=env OZONE_PLATFORM=x11 ELECTRON_OZONE_PLATFORM_HINT=x11 SDL_IM_MODULE=fcitx GTK_IM_MODULE=fcitx QT_IM_MODULE=fcitx /usr/bin/slack --gtk-version=3 -s %U
Icon=slack
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/slack;
